<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-12">
            <h2 class="text-center headline text-green"> 404</h2>   
          </div>
          <!-- ./col--->
          <div class="col-md-7 col-sm-7 col-xs-12">
            <h3 class="text-center"><i class="fa fa-warning text-green"></i> Oops! Page not found.</h3>
            <p class="text-center">
              We could not find the page you were looking for.
            </p>  
          </div>
          <!-- ./col--->
        </div>            
        <!-- /.row -->
      </div>
      <!-- /.error-page -->
    </section>    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->