<div class="login-box">
  <div class="login-logo">
    <img class="img-size" src="/img/logo.png" alt="">
    <a href="/login/">GTUC<b>COURSE</b>REG.</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Fill Form To Receive Password Update Link In Your Email</p>
    {{#if error_msg_}}
      <strong class="text-danger">{{error_msg_}}</strong>
    {{/if}}
    {{#if success_}}
      <strong class="text-success">{{success_}}</strong>
    {{/if}}
    <form action="/login/update/password" method="post">
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <button type="submit" class="btn btn-primary btn-flat">Send Me The Update Password Link</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->